In [20]:
import sys
!{sys.executable } -m pip install  opendatasets xgboost graphviz lightgbm scikit-learn xgboost lightgbm --upgrade

Requirement already satisfied: opendatasets in ./jovian/lib/python3.11/site-packages (0.1.22)
Requirement already satisfied: xgboost in ./jovian/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: graphviz in ./jovian/lib/python3.11/site-packages (0.21)
Requirement already satisfied: lightgbm in ./jovian/lib/python3.11/site-packages (4.6.0)
Requirement already satisfied: scikit-learn in ./jovian/lib/python3.11/site-packages (1.8.0)
Requirement already satisfied: tqdm in ./jovian/lib/python3.11/site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in ./jovian/lib/python3.11/site-packages (from opendatasets) (1.8.2)
Requirement already satisfied: click in ./jovian/lib/python3.11/site-packages (from opendatasets) (8.3.1)
Requirement already satisfied: numpy in ./jovian/lib/python3.11/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in ./jovian/lib/python3.11/site-packages (from xgboost) (1.16.3)
Requirement already satisfied: joblib>=1.3.0 in ./jovian/lib/python3.11/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.2.0 in ./jovian/lib/python3.11/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: black>=24.10.0 in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (25.12.0)
Requirement already satisfied: bleach in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: kagglesdk in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (0.1.13)
Requirement already satisfied: mypy>=1.15.0 in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (1.19.0)
Requirement already satisfied: protobuf in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (6.33.2)
Requirement already satisfied: python-dateutil in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (65.5.0)
Requirement already satisfied: six>=1.10 in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: types-requests in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (2.32.4.20250913)
Requirement already satisfied: types-tqdm in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in ./jovian/lib/python3.11/site-packages (from kaggle->opendatasets) (2.6.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in ./jovian/lib/python3.11/site-packages (from black>=24.10.0->kaggle->opendatasets) (1.1.0)
Requirement already satisfied: packaging>=22.0 in ./jovian/lib/python3.11/site-packages (from black>=24.10.0->kaggle->opendatasets) (25.0)
Requirement already satisfied: pathspec>=0.9.0 in ./jovian/lib/python3.11/site-packages (from black>=24.10.0->kaggle->opendatasets) (0.12.1)
Requirement already satisfied: platformdirs>=2 in ./jovian/lib/python3.11/site-packages (from black>=24.10.0->kaggle->opendatasets) (4.5.0)
Requirement already satisfied: pytokens>=0.3.0 in ./jovian/lib/python3.11/site-packages (from black>=24.10.0->kaggle->opendatasets) (0.3.0)
Requirement already satisfied: typing_extensions>=4.6.0 in ./jovian/lib/python3.11/site-packages (from mypy>=1.15.0->kaggle->opendatasets) (4.15.0)
Requirement already satisfied: librt>=0.6.2 in ./jovian/lib/python3.11/site-packages (from mypy>=1.15.0->kaggle->opendatasets) (0.7.3)
Requirement already satisfied: webencodings in ./jovian/lib/python3.11/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in ./jovian/lib/python3.11/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in ./jovian/lib/python3.11/site-packages (from requests->kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in ./jovian/lib/python3.11/site-packages (from requests->kaggle->opendatasets) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in ./jovian/lib/python3.11/site-packages (from requests->kaggle->opendatasets) (2025.11.12)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: /Users/nicola/Desktop/jovian/jovian/bin/python -m pip install --upgrade pip

In [2]:
import os
import opendatasets as od
import pandas as pd
pd.set_option("display.max_columns", 120)
pd.set_option("display.max_rows", 120)

In [4]:
od.download('https://www.kaggle.com/c/rossmann-store-sales')

Skipping, found downloaded files in "./rossmann-store-sales" (use force=True to force download)

In [6]:
os.listdir('rossmann-store-sales')

['test.csv', 'train.csv', 'store.csv', 'sample_submission.csv']

In [8]:
ross_df = pd.read_csv('./rossmann-store-sales/train.csv', low_memory=False)
store_df = pd.read_csv('./rossmann-store-sales/store.csv')
test_df = pd.read_csv('./rossmann-store-sales/test.csv')
submission_df = pd.read_csv('./rossmann-store-sales/sample_submission.csv')

In [9]:
ross_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [16]:
submission_df

          Id  Sales
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
41083  41084      0
41084  41085      0
41085  41086      0
41086  41087      0
41087  41088      0

[41088 rows x 2 columns]

In [18]:
store_df

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [16]:
merged_df = ross_df.merge(store_df, how='left', on='Store')
merged_test_df = test_df.merge(store_df, how='left', on='Store')

In [22]:
merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 139.7+ MB

In [18]:
def split_date(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Year'] = df.Date.dt.year
    df['Month'] = df.Date.dt.month
    df['Day'] = df.Date.dt.day
    df['WeekOfYear'] = df.Date.dt.isocalendar().week

In [20]:
split_date(merged_df)
split_date(merged_test_df)

In [22]:
merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015,7,31,31
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,2015,7,31,31
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,2015,7,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2013,1,1,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN,2013,1,1,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1

In [32]:
merged_df[merged_df.Open == 0].Sales.value_counts()

Sales
0    172817
Name: count, dtype: int64

In [24]:
merged_df = merged_df[merged_df.Open == 1].copy()

In [26]:
def comp_months(df):
    df['CompetitionOpen'] = 12 * (df.Year - df.CompetitionOpenSinceYear) + (df.Month - df.CompetitionOpenSinceMonth)
    df['CompetitionOpen'] = df['CompetitionOpen'].map(lambda x: 0 if x < 0 else x).fillna(0)

In [28]:
comp_months(merged_df)
comp_months(merged_test_df)

In [30]:
merged_df[['Date', 'CompetitionDistance', 'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth', 'CompetitionOpen']].sample(20)

,Date,CompetitionDistance,CompetitionOpenSinceYear,CompetitionOpenSinceMonth,CompetitionOpen
33784,2015-07-01,90.0,NaN,NaN,0.0
215776,2015-01-19,120.0,NaN,NaN,0.0
186340,2015-02-14,2200.0,2010.0,12.0,50.0
455084,2014-05-20,8460.0,1994.0,11.0,234.0
924346,2013-03-25,2090.0,2012.0,10.0,5.0
921363,2013-03-27,540.0,2011.0,6.0,21.0
172178,2015-02-27,710.0,2005.0,9.0,113.0
347901,2014-09-03,14160.0,NaN,NaN,0.0
57403,2015-06-10,770.0,2013.0,5.0,25.0
37941,2015-06-27,2910.0,NaN,NaN,0.0
90538,2015-05-11,7930.0,NaN,NaN,0.0
528827,2014-03-15,1340.0,2006.0,10.0,89.0
492855,2014-04-16,410.0,2012.0,9.0,19.0
136375,2015-03-31,8090.0,NaN,NaN,0.0
478392,2014-04-29,60.0,2006.0,4.0,96.0
684968,2013-10-25,2170.0,NaN,NaN,0.0
929818,2013-03-20,460.0,2012.0,11.0,4.0
463069,2014-05-12,4110.0,2010.0,3.0,50.0
116257,2015-04-18,19840.0,2009.0,7.0,69.0
135196,2015-04-01,1220.0,2010.0,12.0,52.0

In [32]:
def check_promo_month(row):
    month2str = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun',              
                 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
    try:
        months = (row['PromoInterval'] or '').split(',')
        if row['Promo2Open'] and month2str[row['Month']] in months:
            return 1
        else:
            return 0
    except Exception:
        return 0

def promo_cols(df):
    # Months since Promo2 was open
    df['Promo2Open'] = 12 * (df.Year - df.Promo2SinceYear) +  (df.WeekOfYear - df.Promo2SinceWeek)*7/30.5
    df['Promo2Open'] = df['Promo2Open'].map(lambda x: 0 if x < 0 else x).fillna(0) * df['Promo2']
    # Whether a new round of promotions was started in the current month
    df['IsPromo2Month'] = df.apply(check_promo_month, axis=1) * df['Promo2']

In [34]:
promo_cols(merged_df)
promo_cols(merged_test_df)

In [36]:
input_cols = ['Store', 'DayOfWeek', 'Promo', 'StateHoliday', 'SchoolHoliday', 
              'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpen', 
              'Day', 'Month', 'Year', 'WeekOfYear',  'Promo2', 
              'Promo2Open', 'IsPromo2Month']
target_col = 'Sales'

In [38]:
inputs = merged_df[input_cols].copy()
targets = merged_df[target_col].copy()

In [40]:
test_inputs = merged_test_df[input_cols].copy()

In [42]:
numeric_cols = ['Store', 'Promo', 'SchoolHoliday', 
              'CompetitionDistance', 'CompetitionOpen', 'Promo2', 'Promo2Open', 'IsPromo2Month',
              'Day', 'Month', 'Year', 'WeekOfYear',  ]
categorical_cols = ['DayOfWeek', 'StateHoliday', 'StoreType', 'Assortment']

In [44]:
max_distance = inputs.CompetitionDistance.max()

In [46]:
inputs['CompetitionDistance'].fillna(max_distance, inplace=True)
test_inputs['CompetitionDistance'].fillna(max_distance, inplace=True)

/var/folders/n2/3kbcnw5x42n0q_d2v7bjztdh0000gn/T/ipykernel_2625/751725973.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  inputs['CompetitionDistance'].fillna(max_distance, inplace=True)
/var/folders/n2/3kbcnw5x42n0q_d2v7bjztdh0000gn/T/ipykernel_2625/751725973.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_inputs['CompetitionDistance'].fillna(max_distance, inplace=True)

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
scaler = MinMaxScaler().fit(inputs[numeric_cols])

In [50]:
inputs[numeric_cols] = scaler.transform(inputs[numeric_cols])
test_inputs[numeric_cols] = scaler.transform(test_inputs[numeric_cols])

In [54]:
from sklearn.preprocessing import OneHotEncoder

In [60]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore').fit(inputs[categorical_cols])
encoded_cols = list(encoder.get_feature_names_out(categorical_cols))

In [62]:
inputs[encoded_cols] = encoder.transform(inputs[categorical_cols])
test_inputs[encoded_cols] = encoder.transform(test_inputs[categorical_cols])

In [64]:
X = inputs[numeric_cols + encoded_cols]
X_test = test_inputs[numeric_cols + encoded_cols]

In [66]:
from xgboost import XGBRegressor

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/Users/nicola/Desktop/jovian/jovian/lib/python3.11/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: '@rpath/libomp.dylib'\n  Referenced from: '/Users/nicola/Desktop/jovian/jovian/lib/python3.11/site-packages/xgboost/lib/libxgboost.dylib'\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]

In [ ]:
model = XGBRegressor(random_state=42, n_jobs=-1, n_estimators=20, max_depth=4)

In [ ]:
%%time
model.fit(X, targets)